@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
$purple: hsl(280, 24%, 50%);
$brown: hsl(16, 25%, 38%);
$animation-duration: 512ms;
* {
	box-sizing: border-box;
	user-select: none;
	overflow: hidden;
	-webkit-tap-highlight-color: hsla(0, 0, 0, 0);
}
html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}
body {
	font-family: 'Roboto';
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  textarea {
    font-size: 16px !important;
  }
}
textarea {
	user-select: text;
	padding: 0 !important;
}
section {
	flex-direction: column;
	display: flex;
	height: 100%;
}
.materialize-textarea:focus {
  border-bottom: 1px solid $brown !important;
  box-shadow: 0 1px 0 0 $brown !important;
}
.button {
	cursor: pointer;
}
.hidden {
	pointer-events: none;
	opacity: 0;
}
.toolbar {
	$height: 56px;
	$inner-height: 20px;
	flex-shrink: 0;
	height: $height;
	background: $purple;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	* {
		height: 100%;
		flex-shrink: 0;
	}
	a {
		display: block;
	}
	svg {
		fill: white;
		padding: ($height - $inner-height) / 2;
	}
	.title {
		height: auto;
		font-size: $inner-height;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex-shrink: 1;
	}
	.toolbarLoading {
		transition: opacity $animation-duration;
		$border-width: 2px;
		$border-color: white;
		height: $inner-height - (2 * $border-width);
		width: $inner-height - (2 * $border-width);
		margin: ($height - $inner-height) / 2;
		padding: 0;
		border-radius: 50%;
		border: $border-width solid;
		border-color: $border-color $border-color $border-color transparent;
		animation: spin 2 * $animation-duration linear infinite;
		@keyframes spin {
			from {
				transform: rotate(0);
			} to {
				transform: rotate(1turn);
			}
		}
	}
	.toolbarConfirm {
		transition: opacity $animation-duration;
	}
}
.all {
	ul {
		list-style-type: none;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		li {
			width: 100%;
			display: block;
			box-shadow: inset 0 -1px lightgrey;
			overflow: hidden;
			.container {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				max-width: none;
				> * {
					margin: 18px;
				}
			}
			.metadata {
				text-align: right;
				overflow: visible;
				color: grey;
				flex-shrink: 0;
				// flex-shrink: 1;
				// line-height: 200%;
			}
			.distance-time {
				margin-left: 18px;
				// white-space: nowrap;
			}
		}
	}
}
.content {
	user-select: text;
	word-break: break-word;
	hyphens: auto;
	margin: 0;
}
.tag {
	color: white;
	padding: 4px;
	border-radius: 4px;
	user-select: text;
	transition: opacity $animation-duration;
}
main {
	padding: 18px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.view {
	.content {
		font-size: 36px;
		margin-bottom: 18px;
		font-weight: 100;
	}
	.metadata {
		overflow: visible;
		user-select: text;
	}
}
.new {
	.remaining {
		margin: 0;
		text-align: right;
		&.negative {
			font-weight: bold;
			color: darkred;
		}
	}
}
