@import '{}/client/common/common.scss';

.toolbar {
	$height: 56px;
	$inner-height: 20px;
	flex-shrink: 0;
	height: $height;
	background: $purple;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.toolbar-child {
		&, & * {
			height: 100%;
			flex-shrink: 0;
		}
	}
	a {
		display: block;
	}
	svg {
		fill: white;
		padding: ($height - $inner-height) / 2;
	}
	.title {
		color: white;
		height: auto;
		font-size: $inner-height;
		white-space: nowrap;
		text-overflow: ellipsis;
		flex-shrink: 1;
	}
	.dropdown-content {
		li {
			a {
				font-size: 14px !important;
				color: $gray !important;
				background: none;
			}
			&:hover {
				background: darken(white, 6%) !important;
			}
			&.selected {
				background: none;
				color: $brown !important;
			}
		}
	}
}
