@import '{}/client/common/common.scss';

.template-view-post {
	.content {
		margin: 0;
		font-size: 20px;
	}
	.post {
		display: flex;
		flex-direction: column;
		@include flex-padding-column($padding);
	}
	.details {
		display: flex;
		align-items: center;
		@include flex-padding-row($padding);
	}
	.metadata {
		flex-grow: 1;
		overflow: visible;
		user-select: text;
	}
	.location-button {
		flex-shrink: 0;
		text-align: right;
	}
}
