@import '{}/client/common/common.scss';

$padding: 18px;
.all {
	ul {
		list-style-type: none;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	li {
		width: calc(100% - #{$padding});
		overflow: hidden;
		margin-left: $padding;
		padding-right: $padding;
		border-bottom: 1px solid $gray;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.content {
		flex-grow: 1;
		margin: $padding;
	}
	.metadata {
		overflow: visible;
		color: $gray;
		flex-shrink: 0;
	}
	.distance {
		width: 48px;
	}
	.time {
		width: 32px;
	}
	.align-right {
		text-align: right;
	}
}
