@import '{}/client/common/common.scss';

$padding: 18px;
.all {
	ul {
		list-style-type: none;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
	li {
		width: 100%;
		display: block;
		overflow: hidden;
		&:after {
			content: '';
			width: calc(100% - #{$padding});
			height: 1px;
			left: $padding;
			background: $gray;
			position: absolute;
		}
	}
	.container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: none;
		> * {
			margin: 18px;
		}
	}
	.metadata {
		text-align: right;
		overflow: visible;
		color: $gray;
		flex-shrink: 0;
	}
	.distance-time {
		margin-left: $padding;
	}
}
