@import '{}/client/common/common.scss';

.template-all-posts {
	.empty {
		font-size: 20px;
		text-align: center;
	}
	.post-list {
		li {
			.age-and-comment-counter {
				display: flex;
				flex-direction: row;
				@include flex-padding-row($padding);
			}
			@media only screen and (max-width: 448px) {
				flex-wrap: wrap;
				align-items: flex-start;
				.distance { // left
					margin-top: #{$padding / 2};
					margin-bottom: 0;
					order: 2;
				}
				.content {
					margin-top: 0;
					margin-bottom: #{$padding / 2};
					width: 100%;
					order: 1;
				}
				.age-and-comment-counter {
					margin-top: #{$padding / 2};
					margin-bottom: 0;
					order: 3;
				}
			}
			@media only screen and (min-width: 448px) {
				flex-wrap: nowrap;
				align-items: center;
				@include flex-padding-row($padding);
				.distance {
					order: 1;
				}
				.content {
					flex: 1 1 auto;
					order: 2;
				}
				.age-and-comment-counter {
					order: 3;
				}
			}
		}
	}
	.template-comment-counter {
		&.gray {
			color: $gray;
			fill: $gray;
		}
		&.goldenrod {
			color: goldenrod;
			fill: goldenrod;
		}
		&.orangered {
			color: orangered;
			fill: orangered;
		}
		.comment-icon {
			transform: translateY(1px); // svg is too high
			display: inline-block;
			width: 12px;
			height: 12px;
		}
	}
}
