@import '{}/client/common/common.scss';

.template-all-posts {
	.empty {
		font-size: 20px;
		text-align: center;
	}
	.post-list {
		li {
			@media only screen and (max-width: 448px) {
				flex-wrap: wrap;
				align-items: flex-start;
				.distance { // left
					margin-top: 0;
					order: 2;
				}
				.content {
					width: 100%;
					order: 1;
				}
				.age {
					margin: 0;
					order: 3;
				}
			}
			@media only screen and (min-width: 448px) {
				flex-wrap: nowrap;
				align-items: center;
				@include flex-padding-row($padding);
				.distance {
					order: 1;
				}
				.content {
					flex: 1 1 auto;
					order: 2;
				}
				.age {
					order: 3;
				}
			}
		}
	}
}
