@import url(https://fonts.googleapis.com/css?family=Lato); // should probably host these ourselves

// constants
$purple: hsl(280, 24%, 50%);
$brown: hsl(16, 25%, 38%);
$gray: hsl(0, 0%, 62%);
$animation-duration: 0;
$padding: 18px;
$font-size: 14px;
$min-width: 128px;

// mixins that are I guess useful
@mixin flex-padding-row($padding) {
  > * {
    flex: none;
		margin: 0 #{$padding / 2} 0 #{$padding / 2} !important;
		&:first-child {
			margin-left: 0 !important;
		}
		&:last-child {
			margin-right: 0 !important;
		}
	}
}
@mixin flex-padding-column($padding) {
	> * {
    flex: none;
		margin: #{$padding / 2} 0 #{$padding / 2} 0 !important;
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

// some broad definitions
* {
	transition: none !important; // fuck animations
	// overflow: visible;
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: hsla(0, 0, 0, 0);
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	position: fixed;
  min-width: $min-width;
}
body {
	font-family: 'Lato';
}
textarea {
	user-select: text;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 16px !important;
}
.materialize-textarea:focus {
  border-bottom: 1px solid $brown !important;
  box-shadow: 0 1px 0 0 $brown !important;
}
.page {
	flex-direction: column;
	display: flex;
	height: 100%;
}
.btn { // these are the materialize buttons
	padding: 0 1rem !important;
	overflow: visible !important;
	background: $brown !important;
	text-transform: capitalize;
}
hr {
	background: $gray;
	height: 1px;
	width: calc(100% - #{$padding});
	border: 0;
	margin: 0;
	margin-left: $padding;
}

// utilities
.margarined {
	margin-top: #{$padding / 2};
	margin-bottom: #{$padding / 2};
}
.padded {
	padding: $padding;
}
.text-align-right {
	text-align: right;
}
.button, {
	cursor: pointer;
}
.hidden {
	pointer-events: none;
	opacity: 0;
}
.overflow-hidden {
	overflow: hidden;
}
.content {
	user-select: text;
	word-break: break-word;
	hyphens: auto;
}
.scroll {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
.gray {
	color: $gray;
}

// this shit doesn't belong here
.logo-g {
  stroke-dasharray: 520;
  stroke-dashoffset: -520;
  animation: outline #{6 * $animation-duration} ease-in-out alternate infinite;
}
@keyframes outline {
  to {
    stroke-dashoffset: 0;
  }
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin-left: $padding;
		padding: $padding;
		padding-left: 0;
		width: calc(100% - #{$padding});
		overflow: hidden;

		&:not(:last-child), &:only-child {
			border-bottom: 1px solid $gray;
		}

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
