@import url(https://fonts.googleapis.com/css?family=Lato); // should probably host this ourselves

// constants
$purple: hsl(280, 24%, 50%);
$brown: hsl(16, 25%, 38%);
$gray: hsl(0, 0%, 62%);
$padding: 18px;
$font-size: 14px;
$min-width: 256px;

$color-primary: '121, 86, 73';
$color-accent: $color-primary;
@import '{zodiase:mdl}/theme';

// mixins that are I guess useful
@mixin flex-padding-row($padding) {
	> * {
		flex: none;
		margin: 0 #{$padding / 2} 0 #{$padding / 2} !important;
		&:first-child {
			margin-left: 0 !important;
		}
		&:last-child {
			margin-right: 0 !important;
		}
	}
}
@mixin flex-padding-column($padding) {
	> * {
		flex: none;
		margin: #{$padding / 2} 0 #{$padding / 2} 0 !important;
		&:first-child {
			margin-top: 0 !important;
		}
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

// some broad definitions
* {
	transition: none !important; // animations are so 2015
	box-sizing: border-box;
	user-select: none;
	-webkit-tap-highlight-color: hsla(0, 0, 0, 0);
	font-family: 'Lato' !important; // mdl tends to fuck with things
}
html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	overflow-x: scroll;
	min-width: $min-width;
}
body {
	font-size: $font-size;
}
.page {
	flex-direction: column;
	display: flex;
	height: 100%;
}
a {
	outline: none;
}
hr {
	background: $gray;
	height: 1px;
	width: calc(100% - #{$padding});
	border: 0 !important;
	margin: 0 0 0 $padding !important;
}
textarea {
	user-select: text;
	font-size: 16px !important;
}

// utilities
.margarined {
	margin-top: #{$padding / 2};
	margin-bottom: #{$padding / 2};
}
.padded {
	padding: $padding;
}
.text-align-right {
	text-align: right;
}
.button, {
	cursor: pointer;
}
.hidden {
	display: none;
}
.overflow-hidden {
	overflow: hidden;
}
.content {
	word-break: break-word;
	hyphens: auto;
	&, * {
		user-select: text;
	}
}
.scroll {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.gray {
	color: $gray;
}
.empty {
	text-align: center;
	color: $gray;
}
.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		margin-left: $padding;
		padding: $padding;
		padding-left: 0;
		width: calc(100% - #{$padding});
		overflow: hidden;

		&:not(:last-child) {
			border-bottom: 1px solid $gray;
		}

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

// mdl overrides
.mdl-menu__item-ripple-container {
	display: none !important;
}
.mdl-dialog {
	width: 90% !important;
	max-width: 384px !important;
}
.mdl-dialog__actions .mdl-button {
	color: $purple !important;
	&:focus {
		background: initial !important;
	}
}
