<template name='view'>
  <section class='template-view'>
    {{> head}}
    {{> toolbar left='toolbarBack' title='Post' right='toolbarNone'}}
    <main class='scroll'>
      <div class='padded post'>
        <p class='content'>{{content}}</p>
        <div class='details'>
          <p class='metadata'>Posted at {{time}}, {{distance}} away</p>
          <a target='_blank' class='location-button btn' href='{{location}}'>view location</a>
        </div>
      </div>
      <hr>
      <div class='padded'>
        {{> input placeholder='New comment'}}
      </div>
    </main>
  </section>
</template>
